.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // padding-left: px;
    // padding-right: px;
    // @media name and (min-width: px) {width: px}
}

// .section {
//     padding-top: px;
//     padding-bottom: px;
// }

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}