body{
    font-family: 'DM Sans';
    // font-size: ;
    // color: ;
    background-color: $backGroundBeige;
    margin: 0   
}

.container{
    width: 100%;
    // padding-right: px;
    // padding-left: px;
    margin-right: auto;
    margin-left: auto;
}

// img{
    
// }